<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Josefin+Sans&family=Antonio&display=swap"
        rel="stylesheet">

    <title>Logs</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        background: #f0f0f0;
    }

    .explorePage {
        background: #f0f0f0;
        background-size: cover;
        min-height: 100vh;
    }



    .text {
        padding: 0 20px 20px;
    }

    .text>button {
        background: rgb(25, 48, 70);
        color: #ffffff;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px #000000;
        transition: .3s;
        border: 0;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }

    .text>button:hover {
        background: rgb(72, 77, 82);
    }

    /* LOGO */
    .logo {
        margin: 2%;
    }

    .logo h2 {
        font-size: 2.3rem;
        color: #222;
        font-family: 'Antonio', sans-serif;
        user-select: none;
    }

    .logo span {
        color: rgb(25, 48, 70);
        font-size: 2.5rem;
    }

    /* Text */
    .text h3 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin: 3%;
    }

    .text p {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 4%;
    }

    /* Search */
    .input,
    .searchBtn {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    input {
        padding: 1em;
        outline: none;
        border: none;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: inset 11px 11px 22px #e6e6e6,
            inset -11px -11px 22px #ffffff;
        font-family: 'Montserrat', sans-serif;
    }

    .searchBtn button {
        margin-top: 2%;
        padding: .7em 1em .7em 1em;
        outline: none;
        border: none;
        cursor: pointer;
        background: rgb(25, 48, 70);
        color: #ffffff;
        font-weight: 500;
        font-family: 'Poppins',
            sans-serif;
        border-radius: 5px;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px #000000;
        transition: .3s;
    }

    .searchBtn button:hover {
        background: rgb(72, 77, 82);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2%;
    }

    .container>div {
        margin-top: 3%;
        background: #ffffff;
        padding: .7em 1em .7em 1em;
        border-radius: 5px;
        font-family: 'Antonio', sans-serif;
        font-weight: lighter;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3%;
    }

    .btn a button {
        padding: .7em 1em .7em 1em;
        outline: none;
        border: none;
        cursor: pointer;
        background: rgb(25, 48, 70);
        color: #ffffff;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px #000000;
        transition: all .3s;
    }

    .btn a button:hover {
        transition: all .3s;
        background: rgb(77, 77, 77)
    }


    @media (max-width: 730px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 530px) {
        .grid {
            grid-template-columns: 100%;
        }
    }
</style>

<body>
    <section class="explorePage">

        <div class="logo">
            <h2>Code <span>Share</span> <i class="fa fa-share-alt" aria-hidden="true"></i></h2>
        </div>

        <div class="container">
            <%for(let i=0; i< logs.length; i++){%>
                <div class="log">
                    <h2><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <%=logs[i].message%> : <%=logs[i].timeStamp%>
                    </h2>
                </div>
                <%}%>
        </div>

        <div class="btn">
            <a href="/profile"><button>Back</button></a>
        </div>
    </section>

</body>

</html>