<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/">

    <!-- Link awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Font CDN -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <title>Update File</title>
</head>
<style>
    .container {
        top: 45%;
    }

    input[type="radio"] {
        cursor: pointer;
    }

    label {
        font-family: 'Montserrat', sans-serif;
    }

    .form form>div {
        margin-bottom: 10%;
    }
</style>

<body>
    <section class="loginPage">

        <div class="logo">
            <a href="/profile" style="text-decoration: none;">
                <h2>Code <span>Share</span> <i class="fa fa-share-alt" aria-hidden="true"></i></h2>
            </a>
        </div>
        <div class="container">
            <div class="title">
                <h2>Update File <i class="fa fa-cogs" aria-hidden="true"></i></h2>
            </div>

            <div class="form">
                <form action="/updatecontent" method="POST">
                    <div class="username">
                        <input type="text" name="reponame" value="<%=name%>" readonly autocomplete="off" />
                    </div>
                    <div class="password">
                        <textarea name="update" cols="21"><%=desc%></textarea>
                    </div>
                    <div class="username">
                        <input type="text" name="commitmsg" value="update <%=filename%>" autocomplete="off" />
                    </div>
                    <div class="button">
                        <button>Change</button>
                    </div>
                </form>

                <div class="button">
                    <a href="/repositories"><button>Back</button></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>